@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="app">
    <section class="app-browse">

    </section>
    <section class="app-notes">

    </section>
    <section class="app-edit">

    </section>
</main>
