@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="app-notes">
    <section class="app-notes-item app-notes-browse">
        <ul class="notes-browse-list">
        
        </ul>
    </section>
    <section class="app-notes-item app-notes-list">
        <ul class="notes-list-group">

        </ul>
    </section>
    <section class="app-notes-item box app-notes-edit">
        <textarea class="notes-edit-text"></textarea>
    </section>
</main>
